*,*::before,*::after{
  box-sizing: border-box;
  
}

* {
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #FFFCF2;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}

header .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  header {
    padding: 10px 40px;
    background-image: linear-gradient(to right,#252422 , #EB5E28);
    margin-bottom: 50px;
  }
  header .flex {
    gap: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
  }
  header .flex .logo{
    color: #FFFCF2;
  
  }
  header .flex .search img{
    position: absolute;
    width: 18px;
    top: 15px;
    left: 120px;
  }
  header .flex .search input{
    padding: 8px;
    padding-left: 30px;
    border-radius: 15px;
    border: none;
    outline: none;
    width: 100%;
   
  }
  header .link ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
  header .link a{
    text-decoration: none;
    color: #FFFCF2;
    text-transform: uppercase;
   font-weight: 700;
  }
  header .link a:hover{
    color:#FDCE29 ;
  }

  header .link .menu-icon{
    display: none;
    color: #f2f2f2;
    cursor: pointer;
  }
  header .link .menu-icon .bx {
    vertical-align: middle;
  }
  header .dropdown_menu ul{
    list-style: none;
  }

  header .dropdown_menu a{
    text-decoration: none;
    color: #fffcfc;
    text-transform: uppercase;
    font-weight: 700;
   
  }
  header .dropdown_menu  a:hover{
    color:#FDCE29 ;
  }

  header .dropdown_menu{
    display: none;
    position: absolute;
    right: 2.1rem;
    top: 60px;
    height: 0;
    width: 200px;
    background: rgba(12, 12, 12, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  } 
  header .dropdown_menu.open{
    height: 140px;
  }
  header .dropdown_menu li{
    padding:0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  main{
    padding: 10px 40px;
  }

  

  section.hero .container{
    max-width: 1440px;
    margin: 0 auto;
}


section.hero  .slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
}


 section.hero .back, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  
}


section.hero .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


section.hero .back:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);

}

section.hero  .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


section.hero .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

section.hero .active, .dot:hover {
  background-color: #717171;
}

section.hero .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
section.hero .product{
  margin-top: 20px;
 }
 section.hero .featured_product{
  display: grid;
  grid-template-columns: repeat(4,1fr);
 
 }
 section.hero  .mySlides:not(:first-child) {
    display: none;
  }

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media (max-width: 600px) {
  header .link ul a {
    display: none;
    flex-direction: column;
  }
  header .flex .logo{
    color: #FFFCF2;
    font-size:12px ;
  }
   
  header .flex .search input {
    padding: 8px;
    padding-left: 30px;
    border-radius: 15px;
    border: none;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header .flex .search img {
  position: absolute;
  width: 18px;
  top: 9px;
  left: 98px;
}
main , header {
  padding: 10px 20px;
}
header .link .menu-icon{
  display: block;
 }
header .dropdown_menu{
  display: block;
 
} 
header .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  }
  
}


/* product slide */

.products-slide {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
}
.product-heading{
  color: #EB5E28;
}
.products {
  height: 320px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}
.product-heading:nth-of-type(2), .product-heading:nth-of-type(3){
  margin-top: 3rem;
}
.product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  scroll-snap-align: center;
  width: 250px;
  height: 300px;
  background-color: #3a3936;
  padding: 2rem;
  border-radius: 10px;
  cursor: pointer;
}
.product:hover{
  background-color: #5d5c59;
}
.product:hover > .product-image{
  opacity: 0.7;
}
.product-image {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}
.product-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  vertical-align: middle;
}

.product-name {
  margin-bottom: .2rem;
  font-weight: 700;
}
.product-name, .product-catergory {
  color: #fff;
}
.product-price{
  color: #EB5E28;
}


footer .container{
  background-color: #000;
  height: 100px;
  margin-top: 100px;
}
@media (max-width: 768px){
  .products-slide {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
  }
}
@media (max-width: 425px){
  .products-slide {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
}
}
@media (max-width: 375px){
  .products-slide {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
}
}